body{
background:#0b1c2d;
font-family:Arial;
margin:0;
padding:0;
color:white;
}

.top-header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 30px;
background:#081421;
color:white;
}

.brand{
display:flex;
align-items:center;
gap:10px;
font-size:22px;
font-weight:bold;
}

.logo{
width:45px;
}

.attendance-container{
width:400px;
margin:80px auto;
background:#13293d;
padding:40px;
border-radius:10px;
text-align:center;
color:white;
box-shadow:0px 10px 25px rgba(0,0,0,0.4);
}

.btn{
background:#00aaff;
border:none;
padding:12px 25px;
font-size:16px;
border-radius:6px;
cursor:pointer;
margin-top:20px;
color:white;
}

.btn:hover{
background:#008ecc;
}

.success{
margin-top:20px;
background:#1f8a4c;
padding:10px;
border-radius:5px;
}

table{
width:100%;
margin-top:30px;
border-collapse:collapse;
}

th,td{
padding:10px;
text-align:center;
}

th{
background:#00aaff;
color:black;
}

tr:nth-child(even){
background:#1c3b57;
}

.date-time{
margin-top:10px;
font-size:14px;
color:#00aaff;
}